<!DOCTYPE html>
<html>
	<!-- In head, connect your CSS files and other components-->
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Linking to our CSS -->
	<link rel="stylesheet" type="text/css" href="../css/styling.css">

	<!-- Link to google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<!-- Add JQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Add FontAwesome CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


	<script type="text/javascript" src="./../js/jquery.form.min.js"></script>

		<title>I'm your tab Title</title>
	</head>


	<!-- In body, define the page -->
	<body>
		<div class="navigationBar"><h3>&nbsp;Swoosh</h3><div id="logout"><i class="fa fa-sign-out"></i></div></div>
		<center><h3>Chat with friends</h3></center>

		<!-- CHAT box -->
		<center><div class="chatBox">
		</div>
		<div class="writeHere input-group">
     		 <input type="text" class="form-control" placeholder="Write anything...">
     		       		<span class="input-group-btn">
        		<button class="btn btn-default" type="button"><i class="fa fa-paper-plane"></i></button>
      		</span>
   		 </div><!-- /input-group -->
		</center>

	</body>

</html>