/* This is a comment */

/* You can refer to tags */
body{
	/* Blue background color */
	background-color: #37aecc;
}

/* You can refer to classes if you start with a dot */
.mainTitle{
	/* Fancy font from Google Family */
	font-family: 'Lobster', cursive;
	margin-top: 20vh;
	font-size: 5em;
}

.loginForm{
	width  : 40vw; 
	height : 40vh;
	background-color: #D7D1CA;
	margin-top : 5vh; 
	border-radius: 0.7em;
}

.btn{
	width: 30vw;
	margin-top: 10vh;
}

.formInput{
	width: 35vw;
	top: 7.5vh;
	margin-top: 2vh;
}
